Alembic
dotenv
flasgger==0.9.7.1
Flask==3.1.2
Flask_Bcrypt==1.0.1
Flask_JWT_Extended==4.7.1
Flask_Migrate==4.1.0
flask_sqlalchemy==3.1.1
joblib==1.5.2
numpy==2.3.5
PyJWT==2.10.1
python-dotenv==1.2.1
psycopg2-binary
SQLAlchemy==2.0.44
scikit-learn
